body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.7;
    background: #bce0c5;
    background: linear-gradient(0deg, rgba(188, 224, 197, 1) 0%, rgba(188, 224, 222, 1) 100%);
}

h1{
    text-align: center;
}

#reg-field{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1.5%;
    line-height: 2;
    background-color: rgb(219, 219, 219);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-top: 5px solid blue;
}

fieldset{
    padding: 4%;
    border-radius: 10px;
    border: 2px solid rgb(172, 172, 172);
    line-height: 1.2;
}

legend{
    color: rgb(172, 172, 172);
}

.input-style{
    height: 35px;
    width: 60%;
    border: none;
    border-bottom: 3px solid rgb(85, 85, 85);
}

button{
    width: 30%;
    height: 40px;
    margin-left: 35%;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: blue;
}

button:hover{
    transition: background-color 0.2s;
    background-color: rgb(168, 168, 255);
    cursor: pointer;
}