body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 219, 219);    
    font-weight: 500;
    font-style: normal;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

/*Zaglavlje*/

header {
    background-image: linear-gradient(0deg, 
        rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.55) 100%);
    color: white;
    padding: 1% 5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
}

.main-menu, .auth-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: color 0.3s;
}

nav a:hover {
    color: white;
    background-color: gray;
}

.auth-menu {
    margin-left: 40%;
}

/*Plava kutija*/

.SlideTitleBox{
    display:flex;
    background-color: blue;
    background-image: url("background.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
    box-shadow: 0px 0px 87px 0px rgba(0,0,0,0.33) inset;
    -webkit-box-shadow: 0px 0px 87px 0px rgba(0,0,0,0.33) inset;
    -moz-box-shadow: 0px 0px 87px 0px rgba(0,0,0,0.33) inset;
}

.Title{
    color: white;
    margin-left: 5%;
    margin-top: auto;
    margin-bottom: 50%;
    line-height: 2; /*Prored*/
    letter-spacing: 2px;
    font-size: 25px;
}

.GoogleFont{
    font-family: "Audiowide", sans-serif;
}

/*Informacije*/

.SlideInfo{
    background-color: rgb(234, 234, 234);
    border-left: 5px solid blue;;
    margin: 80px;
    padding: 15px;
    box-shadow: rgba(23, 125, 162, 0.2) 0px 8px 24px;
}

.ImageRight{
    float: right;
    border-left: 10px solid rgba(0, 0, 0, 0); /*Da tekst nebi bio pre blizu slike.*/
}

.TheNewest{
    color:silver;
    text-align: center;
}

.Date{
    color: gray;
    font-size: small;
}

a.Date:hover{
    transition: 0.3s;
    color: blue;
}

/*Crna kutija*/

footer{
    background-color: rgb(74, 74, 74);
    color: white;
    padding: 30px;
    width: 100%;
    height: 300px;
}

/*Za praivla.html*/

table {
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border-bottom: 3px solid #00009bff;
}

#price-list th {
    background-color: #00009bff;
    color: white;
    padding: 12px;
}

.ticket-type {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: white;
}

tbody tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

td {
    text-align: center;
    padding: 8px;
}
